forgot-password-page {
  .forgot-content	{

		h2{
			text-align: center!important;
			font-size: 1.4rem!important;
			font-weight: bold!important;
			color: #000!important;
			margin-bottom: 10!important;
		}

		.scroll-content {
		    padding: 16px 2%!important;
		}

		.auth-action-button{
			background-color:$theme-color-1!important;
			font-size: 1.4rem!important;
			text-transform: capitalize!important;
		}

		.logo{
			text-align:center;
			padding-top:0px;
		}

		p{
			text-align:center;
			color:#8e8e93;
			font-size:1.4rem;
			margin-top: 0;
			margin-bottom: 0.3em;
		}

		.center{
			text-align:center!important;
			padding: 0;
		}

		.footer{
			font-size:1.1rem;
		}

		.legal-stuff{
			color: $white-d;
			text-align: center;
			margin: 10px 12px;

			.legal-action{
				font-weight: 500;
				color: $theme-color-2;
			}
		}
	}
}
