<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="user-bar">
        <div class="avatar" (click)="goToContact()">
          <img src="{{contact.img}}">
        </div>
        <div class="name">
          <span>{{contact.name}}</span>
          <span class="status">{{contact.status}}</span>
        </div>
      </div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-right>
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="conversation">
    <div class="progress-bar blue stripes">
      <span [style.width]="this.bar_porcen_text" *ngIf="showTimer"></span>
    </div>
    <div #cnt class="conversation-container">
      <div *ngFor="let message of messages" class="message {{message.type}}">
        <div *ngIf="message.img!=''" class="messageImg">
          <img src="{{message.img}}" (tap)="expandImage(message.img)">
        </div>
        <span class="messageText">{{message.text}}</span>
        <span class="metadata">
          <span class="metadata">
              <span class="time">{{message.time}}</span>
              <span *ngIf="message.type=='sent'" class="{{message.check}}">
                  <img src="assets/custom/arrive.svg">
                  <img src="assets/custom/check.svg">
              </span>
          </span>
        </span>
      </div>

    </div>
    <form class="conversation-compose">
      <div class="emoji">
        <ion-icon name="checkmark-circle" class="emoti" (click)="approve()"></ion-icon>
      </div>
      <input class="input-msg" name="input" placeholder="Escribir comentarios" [(ngModel)]="inputMessage"/>
      <div class="photo">
        <ion-icon name="close-circle" class="camera" (click)="reject()"></ion-icon>
      </div>
      <button class="send" (click)="sendNewMessage('text','')">
        <div class="circle">
          <ion-icon md="md-send"></ion-icon>
        </div>
      </button>
    </form>
  </div>

</ion-content>
